.intro {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-family: "Roboto Mono";
  padding: 100px 0;
}

.title-div {
  width: 500px;
}

.name {
  font-size: 45px;
}

.title {
  text-align: justify;
  padding: 0 20px;
}

.title::after {
  content: "";
  display: inline-block;
  width: 100%;
}

.tech-icon {
  width: 100px;
  height: 100px;
  transition: transform 0.5s;
}

.tech-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
}

.tech-icon:hover {
  transform: scale(1.2) rotate(10deg);
}

.headshot {
  width: 30%;
  transition: transform 0.5s;
  border-radius: 50%;
}

.headshot:hover {
  transform: scale(1.2) rotate(-10deg);
}

@media only screen and (max-width: 750px) {
  .intro {
    flex-direction: column;
    padding: 10% 0;
  }

  .title-div {
    width: 100%;
  }

  .name {
    font-size: 8vw;
  }

  .title {
    font-size: 4vw;
    padding: 0 10%;
  }

  .headshot {
    width: 50%;
    padding: 20px 0;
  }

  .tech-icon {
    width: 15%;
    height: 15%;
  }

  .tech-icons {
    justify-content: space-around;
  }
}

@media only screen and (max-width: 450px) {
  .headshot {
    width: 80%;
  }
}