.social-icon {
  width: 100px;
  height: 100px;
  transition: transform 0.5s;
}

.social-icon:hover {
  cursor: pointer;
  transform: scale(1.2) rotate(10deg);
}

.contact-section {
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: left;
  align-content: center;
  padding: 25px 5%;
  margin: 0 auto;
}

.contact-left > h1 {
  font-size: 100px;
  line-height: 1em;
  padding: 20px 0;
}

.contact-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 40%;
}

.contact-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 40%;
}

.contact-right > p {
  font-size: 25px;
  text-align: justify;
}

.contact-right > h3 {
  font-size: 45px;
  text-align: center;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 25px;
}

@media only screen and (max-width: 950px) {
  .contact-section {
    flex-direction: column;
  }

  .contact-left,
  .contact-right {
    width: 90%;
  }

  .contact-left > h1 {
    font-size: 75px;
  }

  .contact-left > h2 {
    font-size: 25px;
  }

  .contact-right > p {
    font-size: 20px;
  }
}
