.project {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 25px 20px;
}

.project-thumb {
  width: 50%;
  max-width: 500px;
  transition: 0.5s ease-in-out;
}

.project-thumb:hover {
  transform: scale(1.2);
}

.details {
  width: 50%;
  padding: 25px;
  text-align: justify;
  max-width: 500px;
}

.project-thumb-left {
  order: -1;
  width: 50%;
  max-width: 500px;
  transition: 0.5s ease-in-out;
}

.project-thumb-left:hover {
  transform: scale(1.2);
}

@media only screen and (max-width: 750px) {
  .project {
    display: flex;
    flex-direction: column;
  }

  .details, .project-thumb, .project-thumb-left {
    width: 100%;
  }

  .project-thumb-left {
    order: 0;
  }
}
