.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 20px;
    background-color: black;
    font-family: "Roboto Mono";
    align-items: center;
}

.navbar > a {
    padding: 10px 25px;
    color: rgba(204, 194, 186, 0.726);
    transition: .5s ease-in-out;
}

.navbar > a:hover {
    text-decoration: none;
    background-color: rgb(218, 213, 209);
    color: black;
}


@font-face {
    font-family: "Chomsky";
    src: url('../Fonts/Chomsky.otf')
}

.logo {
    font-family: "Chomsky";
    font-size: 30px;
    color: rgb(218, 213, 209);
    vertical-align: middle;
}

@media only screen and (max-width: 600px) {
    .navbar {
        justify-content: space-around;
    }

    .navbar > .about {
        order: 1;
    }

    .navbar > .logo {
        order: 2;
    }

    .navbar > .contact {
        order: 3;
    }
}